
[type="checkbox"] {

	&.filled-in {
		&+label {
			padding-left: 40px !important;
			font-weight: 700 !important;
			color: rgba(0,0,0,0.6) !important;

			&:after {
				width: 30px !important;
				height: 30px !important;
				border: 1px solid rgba(0,0,0,0.35) !important;
				border-radius: 0 !important;
				background-color: transparent !important;
			}
		}
	}

	&.filled-in {
		&:checked+label {
			&:before {
				width: 12px;
    			height: 23px;
			    border-right: 2px solid #92278f;
				border-bottom: 2px solid #92278f;
			}
			&:after {
				
			}
		}
	}
}

md-checkbox {
	&.chk-report {
		.md-icon {
			border: 1px solid #070808;
    		border-radius: 0;
		}

		.md-label {
			font: 1em 'NunitoLight';
			color: #000;
		}
	}

	&.chk-report.md-checked{
		.md-icon {
				background-color: white !important;

				&:after {
					border-right: 2px solid #92278f;
					border-bottom: 2px solid #92278f;
				}
		}
	}
}

@media screen and (max-width: 1023px) {
	md-checkbox {
		&.chk-report {
			.md-container {
				width: 27px;
				height: 27px;
			}

			.md-icon {
				width: 27px;
				height: 27px;
			}

			.md-label {
				font-size: 0.6em;
				margin-left: 37px;
			}
		}

		&.chk-report.md-checked{
			.md-icon {

				&:after {
				    left: 8.67px;
				    top: 2.22px;
				    width: 8.67px;
				    height: 17.33px;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
    md-checkbox {
		&.chk-report {

			.md-label {
				font-size: 0.8em;
				margin-left: 37px;
			}
		}
	}
}