<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
 <head>
 <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Facebook Comments Test Page</title>
 </head>
 <body>
  <div id="fb-root"></div>

  <fb:comments href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5" width="650"></fb:comments>

  <script src="http:////connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1214465648581676"></script>
 </body>
</html>