  <div class="custom-modal" id="confirmModal" role="dialog" ng-controller="MainCtl" data-backdrop="static">
    <div class="custom-dialog">
    	<div class="confirm">
		    <div class="clear"></div>
		    <div class="row content">
		    	<div class="col-xs-12 text-left">
					<span class="content-inform">You have been login with facebook. Do you want sync facebook info with your medtale account?</span>
				</div>
				<div class="col-xs-12 btn-row">
					<button type="button" data-dismiss="modal" class="btn blue" ng-click="synsFb()">Yes</button>
    				<button type="button" data-dismiss="modal" class="btn grey" ng-click="notSynsFb()">No</button>
				</div>
			</div>
		</div>
    </div>
  </div>