<div class="login-modal login-step-3">
	<div class="login-content">

		<div class="row mb-30">
			<div class="col-xs-12 text-center">
				<h4>Profile Picture</h4>
			</div>
		</div>

		<form name="uploadAvatarForm">
			<div class="row mb-15">
				<div class="col-xs-12">
					<div class="file-field input-field">
						<input type="file" name="files" id="files" class="hide" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" required>
			            <div class="waves-effect waves-main-color btn btn-select-file">
			            	<span>Upload photo</span>
			            	<label class="imageupload" name="lblPhoto" for="files" style="background-image: url({{avatar}});" required></label>
			            </div>
			          </div>
				</div>
			</div>
			<span ng-show="msgErrorUpload" class="msgErrLoginRegis">{{msgInformError}}</span>
			<div class="row mb-10">
				<div class="col-xs-12">
					<a class="waves-effect waves-light btn btn-material btn-pink full-width" ng-click="uploadProfilePicture()">
						<span>Upload / Change Profile Picture</span>
					</a>
				</div>
			</div>
		</form>

		<div class="row">
			<div class="col-xs-12">
				<a class="waves-effect waves-main-color btn btn-material text-btn full-width" ng-click="goBackToSetUsername()">
					<span>&lt; Back</span>
				</a>
			</div>
		</div>

	</div>
</div>