<div class="login-modal login-step-2">
	<div class="login-content">

		<div class="row mb-30">
			<div class="col-xs-12 text-center">
				<h4>Set Your MedTales Username</h4>
			</div>
		</div>

		<form name="usernameForm">
			<div class="row mb-15">
				<div class="col-xs-12">
					<div class="input-field">
	        			<input id="username" type="text" class="validate" name="username" ng-model="username" required ng-minlength="6" ng-maxlength="16" ng-pattern="/^[a-zA-Z0-9]*$/">
	        		</div>
    				<span class="msgErrLoginRegis" ng-show="(usernameForm.username.$dirty && usernameForm.username.$invalid) && usernameForm.username.$error.required || showErrMsgInvalid">Username is required.</span>
    				<span class="msgErrLoginRegis" ng-show="(usernameForm.username.$dirty && usernameForm.username.$invalid) && (usernameForm.username.$error.minlength || usernameForm.username.$error.maxlength)">Username between 6 and 16 characters</span>
    				<span class="msgErrLoginRegis" ng-show="(usernameForm.username.$dirty && usernameForm.username.$invalid) && usernameForm.username.$error.pattern">Username is only character and number</span>
    				<span class="msgErrLoginRegis" ng-show="!usernameForm.username.$error.required && showErrMsgExit">The current username is in use, please change it now.</span>
				</div>
			</div>

			<div class="row mb-10">
				<div class="col-xs-12">
					<a class="waves-effect waves-light btn btn-material btn-pink full-width" ng-click="confirmName(username)">
						<span>Confirm Name</span>
					</a>
				</div>
			</div>
		</form>

		<div class="row">
			<div class="col-xs-12">
				<a class="waves-effect waves-main-color btn btn-material text-btn full-width" ng-click="goBackToMain()">
					<span>&lt; Back</span>
				</a>
			</div>
		</div>

	</div>
</div>