  <div class="custom-modal lightbox-video-modal {{ lightbox_video_state }}" id="lightboxVideoModal" role="dialog" ng-controller="LightboxCtrl">
    <div class="custom-dialog lightbox-video-dialog">
    	<div class="lightbox-video-content">
    		<div class="row">
		        <div class="col-xs-12">
					<md-button class="btn-close-modal" aria-label="icon"  ng-click="closeLightboxVideoModal()" >
					</md-button>
		        </div>
		    </div>
		    <div class="clear"></div>
		    
		    <div class="row">
		    	<div class="col-xs-12">
					<iframe class="emb-video" id="video" src="" frameborder="0" allowfullscreen/>
					</iframe>
		    	</div>
		    </div>
		</div>
    </div>
</div>