  <div class="modal fade submit-story-success-modal no-pl" id="submitStorySuccess" role="dialog">
    <div class="modal-dialog submit-story-success-dialog">
    	<div class="submit-story-success">

    		<div class="row">
		        <div class="col-xs-12">
					<md-button class="btn-close-modal" aria-label="icon"  data-dismiss="modal">
					</md-button>
		        </div>
	    	</div>

	    	<div class="clear"></div>

		    <div class="row content-main">
				<div class="col-xs-12 cls-message">
					<span class="message">Your story has been submitted.</span>
				</div>
				<div class="col-xs-12 cls-link">
					<span class="lbl-link">Here is a link to your Repost:</span>
				</div>
				<div class="col-xs-12 cls-link">
					<span class="lbl-link link-share">
						xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
					</span>
				</div>
				<div class="col-xs-12 cls-link">
					<light class="lbl-link">Share it now:</light>
				</div>
				<div class="col-xs-12">
					<md-button class="btn-nav" aria-label="icon">
						<img src="../../img/icon_social_fb.png" alt="facebook" class="icon-social">
					</md-button>
					<md-button class="btn-nav" aria-label="icon">
						<img src="../../img/icon_social_tw.png" alt="twitter" class="icon-social">
					</md-button>
					<md-button class="btn-nav" aria-label="icon">
						<img src="../../img/icon_social_gp.png" alt="gPus" class="icon-social">
					</md-button>
				</div>
			</div>
		</div>
    </div>
  </div>